.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}

.logo img {
  height: 50px; /* Adjust as needed */
}

.search-container {
  display: flex;
}

.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 300px; /* Adjust as needed */
}

.search-button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #e0e0e0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d0d0d0;
}
